AOE/music/
AOE/news/
AOE/poptypes/
AOE/units/
AOE/history/
AOE/interface/
AOE/map/
AOE/battleplans/
AOE/common/
AOE/decisions/
AOE/events/
AOE/.gitattributes
AOE/ValidatorSettings.txt
AOE/credits.txt
AOE/s.txt